@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Satisfy&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #131828;
    background-image: url("../img/background/background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar>ul>li {
    display: flex;
    margin-right: 36px;
}

.navbar>ul>li:last-child {
    margin-right: 0px;
}

.navbar>ul>li>a {
    position: relative;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #C1C1C1;
    padding: 10px;
    transition: color 0.2s linear;
}

.navbar>ul>li>a::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #FFD700;
    height: 2px;
    width: 0%;
    transition: width 0.2s linear;
}

.navbar>ul>li>a::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FFD700;
    height: 2px;
    width: 0%;
    transition: width 0.2s linear;
}

.navbar>ul>li>a:hover::before {
    color: #FFD700;
    width: 100%;
}

.navbar>ul>li>a:hover::after {
    color: #FFD700;
    width: 100%;
}

.navbar>ul>li>a:hover {
    color: #FFD700;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    margin-top: 64px;
}

.first {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    color: #FFD700;
}

.main>h1 {
    font-family: "Satisfy", cursive;
    text-align: center;
    text-transform: capitalize;
    font-size: 128px;
    color: #FFD700;
}

.second {
    text-align: center;
    font-size: 16px;
    color: #C1C1C1;
}

button {
    margin: 32px 0px;
    border: none;
    background-color: #91680A;
    border-radius: 20px;
    padding: 12px 35px;
    color: #C1C1C1;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

button:hover {
    background-color: #644807;
}

@media screen and (max-width: 1280px) {
    .first,
    .second {
        font-size: 12px;
    }

    .main>h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 464px) {
    .navbar {
        margin-top: 10px;
    }

    .navbar>ul {
        flex-direction: column;
    }

    .navbar>ul>li {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .navbar>ul>li:last-child {
        margin: 0px;
    }

    .main {
        margin: 36px;
    }

    .first,
    .second {
        font-size: 10px;
    }

    .main>h1 {
        font-size: 40px;
    }
}